@font-face {
  font-family: "ALSGorizontVariable";
  src: url("../fonts/alsgorizontvariable.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/alsgorizontvariable.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/alsgorizontvariable.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/alsgorizontvariable.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/alsgorizontvariable.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "OffBit Trial Regular";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/OffBit Trial Regular"),
    url("../fonts/OffBitTrial-Regular.woff") format("woff");
}

@font-face {
  font-family: "OffBit Trial 101";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/OffBit Trial 101"),
    url("../fonts/OffBitTrial-101.woff") format("woff");
}

@font-face {
  font-family: "OffBit Trial Dot";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/OffBit Trial Dot"),
    url("../fonts/OffBitTrial-Dot.woff") format("woff");
}

@font-face {
  font-family: "OffBit Trial 101 Bold";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/OffBit Trial 101 Bold"),
    url("../fonts/OffBitTrial-101Bold.woff") format("woff");
}

@font-face {
  font-family: "OffBit Trial Bold";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/OffBit Trial Bold"),
    url("../fonts/OffBitTrial-Bold.woff") format("woff");
}

@font-face {
  font-family: "OffBit Trial Dot Bold";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/OffBit Trial Dot Bold"),
    url("../fonts/OffBitTrial-DotBold.woff") format("woff");
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosTextVF-Regular.woff2") format("woff2"),
       url("../fonts/GolosTextVF-Regular.woff") format("woff");
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Regular.woff2") format("woff2"),
       url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Medium.woff2") format("woff2"),
       url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-DemiBold.woff2") format("woff2"),
       url("../fonts/GolosText-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Bold.woff2") format("woff2"),
       url("../fonts/GolosText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Black.woff2") format("woff2"),
       url("../fonts/GolosText-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

