.advantages {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 990px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  background-color: $color-violet;
  border-radius: 40px;
  gap: 15px;

  min-height: 355px;

  @media (max-width: 1230px) {
    min-height: 255px;
  }

  @media (max-width: 990px) {
    min-height: 200px;
  }

  & .number {
    margin-top: auto;
  }
}
