.contacts {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__row {
    display: flex;
    gap: 70px;
    margin-bottom: 30px;

    @media (max-width: 990px) {
      flex-direction: column;
    }

    & > * {
      flex-basis: 50%;

      @media (max-width: 990px) {
        flex-basis: 100%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__socials {
    margin-top: auto;
  }
}

.contacts-heading .content-splitted-4 {
  & .title--2 {
    margin-bottom: 40px;
  }

  & .content-splitted-4__item:nth-child(3)::after {
    display: none;
  }
  & .content-splitted-4__item:nth-child(3)::before {
    display: none;
  }
}

.contact-card {
  display: flex;
  gap: 40px;

  border-radius: 45px;
  padding: 40px;
  background-color: $color-dark-grey;

  @media (max-width: 1230px) {
    flex-direction: column;
  }

  @media (max-width: 990px) {
    border-radius: 30px;
    text-align: center;
    padding: 20px;
  }

  @media (max-width: 768px) {
    & .title--4 {
      font-size: 14px;
    }

    & .title--1 {
      font-size: 26px;
    }
  }

  &--red {
    background-color: $color-red;
  }

  &__heading {
    flex-grow: 1;
  }

  &__content {
    display: flex;
    gap: 20px;
    flex-grow: 1;

    @media (max-width: 990px) {
      flex-direction: column;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2px;

    & .title--1,
    .title--4:last-child {
      margin-top: 8px;
    }
  }

  &__img {
    border-radius: 100%;
    overflow: hidden;
    width: 130px;
    height: 130px;

    @media (max-width: 990px) {
      margin: 0 auto;

      width: 100px;
      height: 100px;
    }
  }
}

.contact-card--red .contact-card__img {
  width: 300px;
  height: 300px;

  @media (max-width: 990px) {
    width: 250px;
    height: 250px;
  }
}

.questions {
  display: flex;
  gap: 40px;

  @media (max-width: 990px) {
    flex-direction: column;
  }
  

  & > * {
    flex-basis: 50%;

    @media (max-width: 990px) {
      flex-basis: 100%;
    }
  }

  &-img {
    position: relative;
    &__svg {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
