.programs__list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 990px) {
    gap: 20px;
  }
}

.program-card {
  display: flex;
  justify-content: space-between;
  border-radius: 60px;
  overflow: hidden;
  gap: 20px;

  @media (max-width: 990px) {
    border-radius: 30px;
  }

  @media (max-width: 1230px) {
    flex-direction: column;
  }

  &-img {
    position: relative;
    width: calc(50% - 5px);

    @media (max-width: 1230px) {
      width: 100%;
    }

    &__main {
      position: absolute;
      left: -2px;
      top: 0;
      z-index: -1;
      height: 100%;
      width: calc(100% + 60px);

      @media (max-width: 1230px) {
        position: static;
        border-radius: 60px;
        overflow: hidden;
        width: 100%;
      }

      @media (max-width: 990px) {
        border-radius: 30px;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 1230px) {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &__svg {
      position: absolute;
      left: 0;
      bottom: -10px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

.program-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  height: 550px;
  border-radius: 60px;
  border: 3px solid $color-white;
  background-color: $color-black;

  @media (max-width: 1230px) {
    height: auto;
  }

  @media (max-width: 990px) {
    padding: 20px;
    border-radius: 30px;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & .title {
      max-width: 440px;
    }

    @media (max-width: 990px) {
      text-align: center;

      & .tags {
        justify-content: center;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 990px) {
      gap: 20px;
    }
  }
}

.program-card-info {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 990px) {
    gap: 20px;
  }

  &__row {
    display: flex;

    @media (min-width: 990px) {
      min-width: 670px;
    }

    & > * {
      width: 30%;
    }

    & > *:last-child {
      flex-grow: 1;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}

.program-card-info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  @media (max-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    opacity: 0.7;
    font-size: 14px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    @media (max-width: 768px) {
      align-items: flex-end;
    }
  }

  &__desc {
    display: flex;
    align-items: center;
    gap: 15px;

    @media (max-width: 768px) {
      flex-direction: row-reverse;

      & .circle {
        display: none;
      }
    }

    & .paragraph {
      @media (max-width: 768px) {
        text-align: right;
        font-size: 14px;
      }
    }

    & span {
      font-size: 12px;

      @media (max-width: 768px) {
        text-align: right;
      }
    }
  }
}

.study {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border-radius: 40px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    height: 565px;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (max-width: 1230px) {
      height: 420px;
    }

    &:hover {
      border-color: $color-white;
    }

    @media (max-width: 990px) {
      padding: 20px;
      border-radius: 30px;
    }

    &__name {
      margin-bottom: 25px;
    }

    &__link .circle {
      width: 70px;
      height: 70px;

      @media (max-width: 1280px) {
        width: 50px;
        height: 50px;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
    }

    &__info {
      display: flex;
      gap: 20px;

      @media (max-width: 1280px) {
        flex-direction: column;
      }
    }
  }
}

.study-card__info-item {
  display: flex;
  align-items: center;
  gap: 15px;

  & .circle {
    width: 30px;
    height: 30px;

    & img {
      width: 16.5px;
      height: 16.5px;
    }
  }
}

.elective-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__item {
    padding: 0 20px;
    height: 140px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: $color-violet;

    & .title {
      position: relative;
    }

    & span {
      position: absolute;
      top: 0;
      right: -70px;
      font-size: 14px;
      border-radius: 22px;
      background-color: $color-green;
      color: $color-black;
      padding: 5px 15px;
      rotate: 4deg;

      @media (max-width: 990px) {
        position: static;
      }
    }
  }
}

.elective .content-splitted-4 {
  & .content-splitted-4__item:nth-child(3)::after {
    display: none;
  }
  & .content-splitted-4__item:nth-child(3)::before {
    display: none;
  }
}

.elective-contact {
  background-color: $color-dark-grey;
  padding: 40px;
  border-radius: 45px;
  height: 100%;
  position: relative;
  @media (max-width: 990px) {
    padding: 20px;
    border-radius: 30px;
  }

  &__svg {
    position: absolute;
    right: 0;
    bottom: 0;

    @media (max-width: 1230px) {
      display: none;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 1230px) {
      flex-direction: column;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    @media (max-width: 1230px) {
      align-items: center;
      text-align: center;
    }
  }

  & .title--4 {
    margin-top: 40px;
  }
}
