:root {
  --color-white: #ffffff;
  --color-green: #bafe00;
  --color-violet: #9407ff;
  --color-pink: #ff77ff;
  --color-yellow: #ffff00;
  --color-red: #f03f37;
  --color-dark-grey: #151514;
  --color-black-bg: #0b0b0b;
  --color-black: #000000;
  --font-heading: ALSGorizontVariable, sans-serif;
  --font-text: Golos Text, sans-serif;
}

$color-white: var(--color-white);
$color-green: var(--color-green);
$color-violet: var(--color-violet);
$color-pink: var(--color-pink);
$color-yellow: var(--color-yellow);
$color-red: var(--color-red);
$color-dark-grey: var(--color-dark-grey);
$color-black-bg: var(--color-black-bg);
$color-black: var(--color-black);

$font-heading: var(--font-heading);
$font-text: var(--font-text);
